@page "/campaigns/new"
@using Microsoft.EntityFrameworkCore
@using System.Text.Json
@inject AppDbContext DbContext
@inject SemanticKernelService SemanticKernelService
@inject NavigationManager NavigationManager

<h1>Create New Campaign</h1>

<h2>Scaffold</h2>
<form>
    <div class="form-group">
        <label for="language">Language</label>
        <select class="form-control" name="language" @bind="language">
            <option>English</option>
            <option>한국어</option>
            <option>日本語</option>
        </select>
    </div>
    <div class="form-group">
        <label for="background">Background</label>
        <select class="form-control" name="background" @bind="background">
            <option>Morden</option>
            <option>Cyberfunk</option>
            <option>Fantasy</option>
        </select>
    </div>
    <div class="form-group">
        <label for="num_of_suspects">Number of suspects</label>
        <input type="number" class="form-control" min="2" max="10" @bind-value="suspects" />
    </div>

    <button type="button" class="btn btn-primary" @onclick="Scaffold" disabled=@loading>Next</button>
</form>

@if (draft != null)
{
    <h2>Review Draft</h2>
    <EditForm Model="draft" OnSubmit="HandleSubmit">
        <h3>Overview</h3>
        <div>
            <label for="title">Title:</label>
            <InputText id="title" @bind-Value="draft.Title" class="form-control" />
        </div>
        <div>
            <label for="plot">Plot:</label>
            <InputTextArea id="plot" @bind-Value="draft.Plot" class="form-control" />
        </div>
        <hr />

        <h3>Victim</h3>
        <CharacterCard Character="@draft.Victim" Plot="@draft.Plot" Background="@background" />
        <hr />
        
        <h3>Suspects</h3>
        <div class="row">
            @foreach (var suspect in draft.Suspects)
            {
                <CharacterCard Character="@suspect" Plot="@draft.Plot" Background="@background" />
            }
        </div>
        <hr />

        <h3>Offender</h3>
        <div>
            <label for="offender">Name:</label>
            <select id="offender" class="form-select" @onchange="(e) => { UpdateOffender((string)e.Value); }">
                @foreach (var suspect in draft.Suspects)
                {
                    <option selected=@(suspect.Name == draft.Offender.Name)>@suspect.Name</option>
                }
            </select>
            <label for="motive">Motive:</label>
            <InputText id="motive" @bind-Value="draft.Motive" class="form-control" />
            <label for="method">Method:</label>
            <InputTextArea id="method" @bind-Value="draft.Method" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
}

@code {
    Campaign draft = null;

    bool loading = false;

    string prompt;

    string language;

    string background;

    int suspects;

    private async Task Scaffold()
    {
        loading = true;
        prompt = await SemanticKernelService.GenerateCampaign(
            background,
            suspects,
            language,
            default
        );
        draft = JsonSerializer.Deserialize<Campaign>(prompt);
        UpdateOffender(draft.Offender.Name);
        loading = false;
    }

    public void UpdateOffender(string name)
    {
        draft.Offender = draft.Suspects.First(c => c.Name == name);
    }

    private async Task HandleSubmit(EditContext editContext)
    {
        await DbContext.Campaigns.AddAsync(draft);
        await DbContext.SaveChangesAsync();
        NavigationManager.NavigateTo("/campaigns");
    }
}
